<div class="registration-container">
    <h1>Registracija</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Korisnicko ime</label>
            <input formControlName="username" type="text" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Lozinka</label>
            <input formControlName="lozinka" type="password" placeholder="Lozinka" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="firstName">Ime</label>
            <input formControlName="ime" type="text" placeholder="Ime" required>
        </div>
        <div class="form-group">
            <label for="lastName">Prezime</label>
            <input formControlName="prezime" type="text" placeholder="Prezime" required>
        </div>
        <button type="submit" class="register-button">Registruj se</button>
    </form>
    <p>Imas akaunt? <a href="login.html">Login</a></p>
</div>
